@media (min-width: 992px) {
.hello-world {
	justify-content: flex-end;
	border-right: 5px solid #1D2B52;
}
}

#projects {
	padding-top: 50px;
	padding-bottom: 50px;
}

.card {
	box-shadow: 0 0 5px 1px rgba(0,0,0,.15);
	transition: 0.3s;
	border-radius: 2px;
	border: 0;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
	flex: 1 100%;
	margin-bottom: 30px;
	background-color: #fff;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.54);
}

.card img {
	border-radius: 2px 2px 0 0;
	width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card > * {
    margin-bottom: 16px;
}

.card > div {
	margin-left: 16px;
	margin-right: 16px;
}

.card .desc * {
	margin-top: 0;
}

.card h3 {
	height: 39px;
	font-size: 1.25em;
	font-weight: 700;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 8px;
	color: #212121;
}

.card p {
	margin-bottom: 0;
}

.card p:before {
	content: "- "
}

.card .lang {
	margin-top: auto;
	margin-bottom: 8px;
}

.card .left-button {
	padding-left: 0px;
	padding-right: 4px;
}

.card .right-button {
	padding-left: 4px;
	padding-right: 0px;
}

.card-action {
	text-transform: uppercase;
	font-weight: 600;
	color: #ff80ab;
	padding: 8px;
}

.card-action:hover {
	color: #ff80ab;
	background-color: #ffe0f1;
	text-decoration: none;
}