body {
	font: 300 1.5em Montserrat, sans-serif;
	line-height: 1.8;
	color: #1D2B52;	
}

.navbar {
	margin-bottom: 0;
	background-color: #010027;
	z-index: 9999;
	border: 0;
	border-radius: 0;
	padding: 15px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar a:hover, .navbar-nav li.active a {
  color: #d09cf3 !important;
}

nav.navbar.shrink {
  padding: 0 15px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #81c0e4;
}

h1 {
	font: 700 36px Merriweather, serif !important;
	margin-top: 16px;
	margin-bottom: 16px;
}

#about {
	margin-bottom: 0px;
	padding: 140px 0 60px;
	background-color: #f6f8fa;
}

#about h1 {
	color: #F356AF;
}
@media (min-width: 992px) {
.hello-world {
	justify-content: flex-end;
	border-right: 5px solid #1D2B52;
}
}

#projects {
	padding-top: 50px;
	padding-bottom: 50px;
}

.row-flex, .row-flex > div[class*='col-'] {  
  display: flex;
	display: -webkit-flex;
  flex:1 1 auto;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
  align-content: flex-start;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
	flex-flow: column nowrap;
}

.card {
	box-shadow: 0 0 5px 1px rgba(0,0,0,.15);
	transition: 0.3s;
	border-radius: 6px;
	border: 0;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
	flex: 1 100%;
	margin-bottom: 30px;
	background-color: #f6f8fa;
	line-height: 1.5;
}

.thumbnail:hover {
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,.15);
}

.card img {
	border-radius: 6px 6px 0 0;
	width: 100%;
}

.card > * {
    margin-bottom: 16px;
}

.card > div {
	margin-left: 16px;
	margin-right: 16px;
}

.card .desc * {
	margin-top: 0;
}

.card h2 {
	height: 39px;
	font-size: 1em;
	font-weight: 700;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 8px;
	color: #F356AF;
}

.card p {
	margin-bottom: 0;
}

.card p:before {
	content: "- "
}

.card .lang {
	margin-top: auto;
	margin-bottom: 8px;
}

.card .btn {
	background-color: #1D2B52;
	color: #f8fbfd;
	transition: 0.3s;
	width: 100%;
}

.card .btn:hover {
	background-color: #059BDA;
}

.card .left-button {
	padding-left: 0px;
	padding-right: 4px;
}

.card .right-button {
	padding-left: 4px;
	padding-right: 0px;
}