/*Common elements*/
body {
	font: 300 1.5em Montserrat, sans-serif;
	line-height: 1.8;
	color: #1D2B52;	
}

.navbar {
	margin-bottom: 0;
	background-color: #010027;
	z-index: 1000;
	border: 0;
	border-radius: 0;
	padding: 15px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar a:hover, .navbar-nav li.active a {
	color: #77c4e0 !important;
}

nav.navbar.shrink {
	padding: 0 15px;
}

/*Mobile navbar*/
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/*Mobile navbar*/
.navbar-default .navbar-toggle:focus{
	background-color: #010027;
}
.navbar-default .navbar-toggle:hover {
	background-color: #3dabd2;
}

h1 {
	font: 700 36px Merriweather, serif !important;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #FE5AA3;
}

#header {
	margin-bottom: 0px;
	padding: 140px 0 60px; /*+80 for navbar*/
	background-color: #f6f8fa;
	text-align:center
}

.btn, .btn:hover, .btn:focus {
	color: #fff;
}

.btn {
	background-color: #011C4B;
	transition: 0.5s;
	width: 100%;
}

.btn:hover {
	background-color: #3dabd2;
}

/*Add-able classes*/

.row-flex, .row-flex > div[class*='col-'] {  
	display: flex;
	display: -webkit-flex;
	flex:1 1 auto;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	align-content: flex-start;
}

.flex-col {
	display: flex;
	display: -webkit-flex;
	flex: 1 100%;
	flex-flow: column nowrap;
}

.bg-white {
	background-color: #fff;
}

.bg-light {
	background-color: #f6f8fa;
}