#quiz {
	padding-top: 20px;
	padding-bottom: 20px;
}

#quiz-table {
	margin: 16px auto;
}

#quiz-table th {
	text-align:center;
}

#quiz-table td {
	border-top: 1px solid #eee;
	padding: 0 8px;
}

#quiz-table input[type=radio] {
	margin:8px 0;
}

#quiz-table .button-cell {
	padding-top: 12px;
}

#quiz-table button {
	width:100%;
}

.red-text {
	color: red;
}

.red-text:before {
	content: "*"
}

.modal-header, .modal-footer {
	border-color: #eee;
}

#result-image {
	padding-bottom: 15px;
}

.modal img {
	width: 100%;
	border: 3px solid #1D2B52;
}

#all-results {
	margin-bottom: -15px;
}

.bar-outer {
	width: 100%;
	background-color: white;
	border: 1px solid #eee;
	height: 20px;
	margin-bottom: 15px;
}

.bar-inner {
	background-color: #1D2B52;
	height: 18px;
}

#image-source {
	text-align: left;
	display: flex;
	justify-content:center;
	flex-direction: column
}

@media (min-width: 768px) {
#quiz-modal .modal-dialog {
	width: 80%;
	max-width: 745px;
}
#result-image {
	padding-right: 0px;
	padding-bottom: 0px;
}
#pumpkin-modal .modal-dialog {
	width: 80%;
	max-width: 950px;
}
}